<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nova Quest</title>
    <!-- Adicionando Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Estilos personalizados -->
        <link rel="stylesheet" href="../form.css">

</head>

<body>
    <!-- Cabeçalho da página -->
    <div class="page-header">
        <h1>Nova Quest</h1>
    </div>

    <!-- Formulário para cadastrar uma nova quest -->
    <form action="/quest" method="post">
        <div class="form-group">
            <label for="title">Título:</label>
            <input type="text" id="title" name="title" class="form-control" th:value="${quest.title}">
        </div>

        <div class="form-group">
            <label for="descricao">Descrição:</label>
            <textarea id="descricao" name="description" class="form-control" th:text="${quest.description}"></textarea>
        </div>


        <div class="form-group">
            <label for="categoria">Categoria:</label>
            <select id="categoria" name="category" class="form-control">
                <option value="Estudos" th:selected="${quest.category == 'Estudos'}">Estudos</option>
                <option value="Lazer" th:selected="${quest.category == 'Lazer'}">Lazer</option>
                <option value="Trabalho" th:selected="${quest.category == 'Trabalho'}">Trabalho</option>
            </select>
        </div>

        <div class="form-group">
            <label for="prioridade">Prioridade:</label>
            <select id="prioridade" name="priority" class="form-control">
                <option value="Alta" th:selected="${quest.priority == 'Alta'}">Alta</option>
                <option value="Média" th:selected="${quest.priority == 'Média'}">Média</option>
                <option value="Baixa" th:selected="${quest.priority == 'Baixa'}">Baixa</option>
            </select>
        </div>

        <!-- Botão para enviar o formulário de cadastro -->
        <div class = "actions">
            <input type="submit" value="Cadastrar" class="btn btn-primary">
            <a href="/quest" value="Cancelar" class="btn btn-primary">
        </div>

    </form>

</body>

</html>